.maps {
  height: calc(100vh - 120px);
  width: 100vw;
  position:  relative;
}

.flash-index {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: rgba(255, 235, 205, 0.8);
}

#map{
  height: 100%;
}

.btn-floating.btn-large {
  width: 70px;
  height: 70px;
  color: #fff;
  position: absolute;
  bottom: 85px;
  right: 85px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  text-align: center;
  background-color: $f-green-color;
  border-radius: 35px;
  &:hover {
    background-color: $f-green-color;
  }
}
