.ranking-wrapper {
  max-height: 600px;
  overflow: scroll;
}

.rank {
  width: 200px;
  height: 100%;
  &__num {
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 45px;
    &__people {
      text-align: center;
    }
    &__person {
      color: red;
    }
  }
  &__details {
    color: #aaa;
    margin-right: 10px;
  }
}

li:first-child {
  .card.horizontal .card-image {
  background: radial-gradient(#FFE300, #fecb00);
  }
}

li:nth-child(2) {
  .card.horizontal .card-image {
    background: radial-gradient(#E8E8E8,#9E9E9E);
  }
}

li:nth-child(3) {
  .card.horizontal .card-image {
    background: radial-gradient(#C9AE5D,#C47022);
  }
}

