<div class="wrapper">
  <div class="main-wrapper">
    <% if flash[:alert] %>
      <div class="error-messages"><%= flash[:alert] %></div>
    <% end %>
    <h3>イベント登録する</h3>

    <%= render partial: 'events/form' %>

  </div>
</div>