<div class="wrapper">
  <div class="main-wrapper">
    <% if flash[:alert] %>
      <p><%= flash[:alert] %></p>
    <% end %>
    <h3>イベント登録する</h3>

    <%= render partial: 'events/form' %>

  </div>
</div>