.content{
  margin: 0 auto;
  padding: 40px;
  position: absolute;
  top: 0;
  right: 200px;
}

.modal{
  max-height: 100vh;
  background-color: transparent;
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  &__bg {
    background: rgba(0,0,0,0.4);
    height: 100vh;
    position: absolute;
    width: 100%;
  }
  &__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
  }
  &__content2{
    background: #fff;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
  }
  &__input {
    height: 40px;
  }
}

input[type=date]:not(.browser-default) {
  width: 200px;
}